# Virtual Environment
env/
venv/
ENV/
.venv/

# Environment variables
.env
.env.*

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE settings
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
logs/